.brand {
    font-size: 18px;
    font-weight: bold;
}
header a {
    color:white;
    margin-right: 20px;
    text-decoration: none;
}
header a:hover {
    color:white;
    text-decoration: underline;
}
.nav-icons span {
    margin-right: 15px;
}
section {
    height: 400px;
}
footer {
    font-size: 15px;
}
h3 {
    font-size: 18px;
}